<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FullCycle">
<listeners>
<listener class-name="org.rahulshetty.Utils.Listeners"></listener>
</listeners>
  <test thread-count="5" name="End-To-End FrameWork Test">
    <classes>
      <class name="org.rahulshetty.FormPageTest"/>
      <class name="org.rahulshetty.ProductPageTest"/>
      <class name="org.rahulshetty.CartPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
